<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimpleShield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🛡️ SimpleShield</h1>

        <p class="subtitle">
            Know if your website is vulnerable in 60 seconds.
        </p>

        <form>
            <input type="text" placeholder="example.com" required>

            <button type="submit">
                Scan Website
            </button>
        </form>

    </div>

</body>

</html>